@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --orange: #ff9900
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 !important;
}


/* scroll bar */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 8px;
}

.columns-container::-webkit-scrollbar {
    width: 2px;
}

.columns-container::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 8px;
}

/* end */
body {
    font-family: "Quicksand", sans-serif !important;
}

.trim {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

input:checked[type = 'checkbox'] {
    background-color: #ea9b0f;
    border-color: var(--orange);
}

.property-card-container {
    border: 1px solid #e0e0e0 !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px !important;
    cursor: pointer
}

.p-card-img {
    width: 100px;
    height: 100px;
    border-radius: 18px;
    object-fit: cover;
}

.p-card-price {
    color: var(--orange);
    font-weight: bold;
}

.p-ref-no {
    color: var(--orange);

}

.p-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
        background-color: var(--orange);
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }
}

.p-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.detail-img {
    display: flex;
    gap: 30px;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
}

.detail-fvrt-btn i {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: black;
}

.detail-fvrt-btn i.favorited {
    color: red;
}

.heart-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cfcfcf !important;
    display: flex !important;
    justify-content: center;
    align-items: center;

}

.heart-btn i {
    font-size: 25px
}

.register-info {
    padding-top: 20px;
}

.p-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, auto));
    border-bottom: 1px solid #efefef;
    padding: 20px 0px;
    margin-bottom: 30px;
}


/*scroll columns props  */
.columns-container {
    border-radius: 15px !important;
    cursor: pointer;
    max-height: 100vh;
    overflow-y: auto;

}

/*ens  */

.inner-column-data {
    display: flex;
    margin-block-end: 10px;

    span {
        &:nth-child(1) {
            display: block;
            width: 150px;
            color: #626262;
        }

        &:nth-child(2) {
            font-weight: bold;
        }
    }
}

.carousel-indicators {
    bottom: -55px !important;
    gap: 15px;
}

.carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background-color: #3c3c3c !important;
}

.load-more {
    background: var(--orange) !important;
    border: none !important;
    padding: 4px 6px !important;
    font-size: 13px !important;
}

#map {
    min-height: 500px;
    border-radius: 10px;
    border: 2px solid #b3b3b3;
}

/* Contact Form */

.contact-form {
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 400px;
}

.contact-form textarea {
    resize: none;
}

.contact-form .form-input,
.form-text-area {
    background-color: #fafafa;
    height: 50px;
    padding-left: 16px;
}

.contact-form .form-text-area {
    background-color: #fafafa;
    height: auto;
    padding-left: 16px;
}

.contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
}

.contact-form .form-control:focus {
    border-color: var(--orange) !important;
    box-shadow: none;
}

.contact-form .title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.contact-form .description {
    color: #aeb4b9;
    font-size: 14px;
    text-align: center;
    padding: 20px 0px;
}

.contact-form .submit-button-wrapper {
    text-align: center;
}

.contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color: var(--orange);
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
    background-color: #e6a601;
}

/* Range Slider */

/* This line can be removed it was just for display on CodePen: */
.container {
    margin-top: 125px;
}

.slider-labels {
    margin-top: 10px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target, .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /* Fix 401 */
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
       its values is > 50%. */
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top .3s;
    transition: left 0.3s, top .3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base, .noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
    height: 4px;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #345DBB;
}

/* Styling;
 */
.noUi-background {
    background: #D6D7D9;
}

.noUi-connect {
    background: #345DBB;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    border-radius: 2px;
}

/* .noUi-target.noUi-connect {
} */

/* Handles and cursors;
 */
.noUi-draggable {
    cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize;
}

.noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.noUi-handle:active {
    border: 8px solid #345DBB;
    border: 8px solid rgba(53, 93, 187, 0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect, [disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-origin, [disabled] .noUi-handle {
    cursor: not-allowed;
}

/*  */

#more-features {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* fav button data */

.favorite-item {
    border: 1px solid #ececec;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.remove-fvrt {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    color: white;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
}

.favorite-detail img {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.favorite-detail h3 {
    font-size: 16px;
    margin: 0;
}

.favorite-detail p {
    margin: 0;
}

.favorite-btn, .share-btn {
    background-color: var(--orange) !important;
    color: #fff !important;
    border: none !important;
    padding: 10px !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    font-weight: bold !important;
}

.favorite-btn:hover {
    background-color: var(--orange);
}

.filter-container form > * {
    margin-block-end: 15px;
}

.detail-border {
    width: 60px;
    height: 2px;
    background: var(--orange);
    margin-top: 15px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.feature > div p:nth-child(1) {
    color: gray;
}

.feature > div p:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
}

.feature img {
    width: 30px;
}

.export-btn {
    background-color: var(--orange) !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
}


.list-date {
    img {
        width: 25px;
    }
}

.search-result-heading {
    display: none;
}

#navbar {
    display: none;

}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
    font-family: 'Times New Roman', Times, serif;
}

/* offcanvas */
.offcanvas {
    height: 70% !important;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden !important;
}


#search-icon {
    border: none !important;
}

.form-control {
    box-shadow: none !important;
    border-color: #cfcfcf !important;
}

.comparison-container {
    display: flex;
}

@media only screen and (max-width: 1600px ) and (min-width: 992px) {
    .p-card-row {
        gap: 10px !important;

        & > * {
            flex-grow: 1 !important;
        }
    }

    .p-card-img {
        width: 100%;
    }

    #navbar {
        display: none;
    }

}

@media (max-width: 1600px) {
    .offcanvas.offcanvas-bottom.show {
        display: none;
    }
}

@media (max-width: 991px) {
    #navbar {
        display: none;
    }

}

@media (max-width: 576px) {
    .search-result-heading {
        display: block;
        text-align: center;
    }

    #filter {
        display: none !important;
    }

    #navbar {
        display: block;
        background-color: #ffffff !important;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }


    #column {
        display: none;
    }


    #contact-form {
        display: none;
    }

    .map-container {
        display: none;
    }

    .columns-container {
        overflow-y: visible;
        border-radius: 15px !important;
        cursor: pointer;
        max-height: 100vh;

    }

    .offcanvas-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .offcanvas-header i {
        color: var(--orange);
    }

    .offcanvas-body {
        padding: 0 10px !important;
    }

    .p-card-img {
        width: 100%;
    }

    .property-title {
        font-size: 18px;
    }

    .favorite-btn {
        font-size: 14px !important;
        padding: 5px !important;
    }

    .carousel-indicators button {
        width: 10px !important;
        height: 10px !important;
    }

    .property-detail {
        h1 {
            font-size: 22px;
        }
    }

    #btn-bottom {
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        z-index: 9999;
        background: white;
        padding: 7px;
        gap: 10px;

        & > * {
        flex-grow: 1;
        }
    }


  


    .p-ref-no {
        white-space: nowrap;
    }

    /* add to comparision btn disable */
    .favorite-btn {
        display: none;
    }


    .submit-button-wrapper {
        text-align: center;
    }

    .submit-button-wrapper > button {
        border: none;
        border-radius: 4px;
        background-color: var(--orange);
        color: white;
        text-transform: uppercase;
        padding: 10px 60px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .submit-button-wrapper > button:hover {
        background-color: #e6a601;
    }

    .menu-icons {
        display: flex;
    }

    .search-wrapper {
        display: flex;
        align-items: center;
        max-width: 250px;
    }

    /* offcanvas for small sc */
    .offcanvas.offcanvas-bottom.show {
        display: block;
    }

    .comparison-container {
        display: block;
    }

    /*.share-btn{*/
    /*    width: 100%;*/
    /*    margin-bottom: 20px;*/
    /*}*/
}





